.aboutPage h1 {
    @apply font-normal tracking-tighter text-slate-800 mb-5
    text-3xl sm:text-4xl md:text-6xl xl:text-7xl
    leading-[1.5rem] sm:leading-[2.25rem] md:leading-[3.15rem] lg:leading-[4.75rem] xl:leading-[5.25rem]
}

.aboutPage h2 {
    @apply font-normal tracking-tighter text-slate-800
    my-4
    text-2xl sm:text-3xl md:text-4xl xl:text-5xl
    leading-[1.5rem] sm:leading-[2.5rem] md:leading-[3.85rem] lg:leading-[4.25rem] xl:leading-[4.85rem];
}

.aboutPage p {
    @apply mt-4 mb-4 md:mt-6 md:mb-6 text-base sm:text-sm lg:text-base xl:text-xl font-light
    leading-normal sm:leading-normal md:leading-normal lg:leading-normal xl:leading-normal;
}

.aboutPage p:first-child {
    @apply mt-0;
}

.aboutPage a {
    cursor: pointer;
    @apply text-sky-500;
}

.aboutPage a:hover {
    @apply text-sky-700 underline underline-offset-2;
}

.aboutPage a:has(h2):hover {
    @apply no-underline;
}

.aboutPage .roleContainer {
    @apply flex flex-col max-h-min bg-white px-5 py-3 md:py-5 xl:py-7 rounded overflow-clip shadow-md
}

.aboutPage .roleContainer h2 {
    @apply my-0
}

.aboutPage .roleContainer p {
    @apply text-xs md:text-sm lg:text-base
    mt-1 mb-1 sm:mt-2 sm:mb-2 md:mt-3 md:mb-3
}

.aboutPage ul {
    @apply text-xs md:text-sm lg:text-base font-light my-0 pl-3.5 md:pl-6
}

.aboutPage ul ul {
    @apply my-0
}

.aboutPage .roleContainer .gripLine {
    @apply mx-auto h-1 w-20 md:w-24 lg:w-36 rounded border-0 bg-slate-500;
}

.aboutPage .topShadow {
    @apply sticky -top-2 left-0 right-0 mx-auto w-[98%] h-0 shadow-sm-dark-below z-10;
}

.aboutPage .bottomShadow {
    @apply sticky -bottom-2 left-0 right-0 mx-auto w-[98%] h-0 shadow-sm-dark-above z-10;
}

.aboutPage .latestRolesTimeline .company {
    @apply w-8 h-8 rounded-full bg-slate-800 transition-all border-2
    border-slate-200 bg-cover bg-origin-border;
}

.aboutPage .latestRolesTimeline .company.inactive {
    @apply saturate-0;
}

.aboutPage .latestRolesTimeline .company.active {
    @apply saturate-100 border-4 border-double w-14 h-14 -m-4;
}

.aboutPage .latestRolesTimeline .company.postActive {
    @apply saturate-[0.75];
}

.aboutPage .latestRolesTimeline .firstCompany {
    background-image: url("/logos/tg.jpeg");
}

.aboutPage .latestRolesTimeline .secondCompany {
    background-image: url("/logos/tw.jpeg");
}

.aboutPage .latestRolesTimeline .thirdCompany {
    background-image: url("/logos/wf.jpeg");
}

.aboutPage .latestRolesTimeline .firstCompany.active {
    transform: translateY(1rem);
}

.aboutPage .latestRolesTimeline .firstCompany.postActive {
    transform: translateY(-3.5rem);
}

.aboutPage .latestRolesTimeline .secondCompany.inactive {
    @apply z-20;
    transform: translateY(19rem);
}

.aboutPage .latestRolesTimeline .secondCompany.active {
    transform: translateY(-8rem);
}

.aboutPage .latestRolesTimeline .secondCompany.postActive {
    transform: translateY(-12rem);
}

.aboutPage .latestRolesTimeline .thirdCompany.inactive {
    @apply z-10;
    transform: translateY(11rem);
}

.aboutPage .latestRolesTimeline .thirdCompany.active {
    transform: translateY(-17rem);
}

.aboutPage .latestRolesTimeline .thirdCompany.postActive {
    transform: translateY(-20.5rem);
}

.aboutPage .latestRolesTimeline .fourthCompany.inactive {
    transform: translateY(3rem);
    @apply text-base;
}

.aboutPage .latestRolesTimeline .fourthCompany.active {
    transform: translateY(-26rem);
    @apply text-3xl;
}

.aboutPage figcaption {
    /*We need to give this a height of 1px to make Safari backdrop-blur it.*/
    @apply z-10 grid grid-cols-1 grid-rows-1 items-center
    col-start-1 row-start-2 row-span-1 self-end
    w-full h-[1px] -mb-[2px]
    overflow-hidden rounded-b px-10
    bg-slate-700/50 backdrop-blur -backdrop-hue-rotate-15 backdrop-saturate-150
    text-center transition-all ease-out;
}

.portableText p a {
    cursor: pointer;
    @apply text-sky-500;
}

.portableText p a:hover {
    @apply text-sky-700 underline underline-offset-2;
}

.aboutPage figcaption.portableText p {
    @apply text-slate-50 leading-relaxed font-extralight tracking-wide
    text-sm lg:text-base line-clamp-3 mt-6 mb-6;
}

.aboutPage figcaption.portableText p:first-of-type {
    @apply text-slate-50 leading-relaxed font-extralight tracking-wide
    line-clamp-3 lg:line-clamp-4 mt-0;
}

.aboutPage figcaption.portableText em {
    @apply text-xs font-normal md:font-semibold tracking-normal
    line-clamp-2;
}
