.aboutArticle h1 {
    @apply text-2xl md:text-3xl lg:text-4xl font-normal
    leading-tight tracking-tighter text-slate-800 mb-5;
}

.aboutArticle h2 {
    @apply text-xl md:text-2xl lg:text-3xl font-normal leading-snug mb-4 mt-1;
}

.aboutArticle p {
    @apply my-6 text-xs md:text-base lg:text-xl;
}

.aboutArticle .roleContainer {
    @apply flex flex-col h-[610px] bg-white px-5 py-7 rounded overflow-clip
}

.aboutArticle .roleContainer .gripLine {
    @apply mx-auto h-1 w-40 rounded border-0 bg-slate-500;
}

.aboutArticle .topShadow {
    @apply sticky -top-2 left-0 w-full h-0 shadow-sm-dark-below z-10;
}

.aboutArticle .bottomShadow {
    @apply sticky -bottom-2 left-0 w-full h-0 shadow-sm-dark-above z-10;
}

.aboutArticle .latestRolesTimeline .company {
    @apply w-8 h-8 rounded-full bg-slate-800 transition-all border-2
    border-slate-200 bg-cover bg-origin-border;
}

.aboutArticle .latestRolesTimeline .company.inactive {
    @apply saturate-0;
}

.aboutArticle .latestRolesTimeline .company.active {
    @apply saturate-100 border-4 border-double w-14 h-14 -m-4;
}

.aboutArticle .latestRolesTimeline .company.postActive {
    @apply saturate-[0.75];
}

.aboutArticle .latestRolesTimeline .firstCompany {
    background-image: url("/logos/tg.jpeg");
}
.aboutArticle .latestRolesTimeline .secondCompany {
    background-image: url("/logos/tw.jpeg");
}
.aboutArticle .latestRolesTimeline .thirdCompany {
    background-image: url("/logos/wf.jpeg");
}

.aboutArticle .latestRolesTimeline .firstCompany.active {
    transform: translateY(1rem);
}

.aboutArticle .latestRolesTimeline .firstCompany.postActive {
    transform: translateY(-3.5rem);
}

.aboutArticle .latestRolesTimeline .secondCompany.inactive {
    @apply z-20;
    transform: translateY(19rem);
}

.aboutArticle .latestRolesTimeline .secondCompany.active {
    transform: translateY(-8rem);
}

.aboutArticle .latestRolesTimeline .secondCompany.postActive {
    transform: translateY(-12rem);
}

.aboutArticle .latestRolesTimeline .thirdCompany.inactive {
    @apply z-10;
    transform: translateY(11rem);
}

.aboutArticle .latestRolesTimeline .thirdCompany.active {
    transform: translateY(-17rem);
}

.aboutArticle .latestRolesTimeline .thirdCompany.postActive {
    transform: translateY(-20.5rem);
}

.aboutArticle .latestRolesTimeline .fourthCompany.inactive {
    transform: translateY(3rem);
    @apply text-base;
}

.aboutArticle .latestRolesTimeline .fourthCompany.active {
    transform: translateY(-26rem);
    @apply text-3xl;
}

