@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stripes {
    @apply bg-slate-100;
    background-image: linear-gradient(
            135deg,
            rgb(203 213 225) 10%,
            transparent 0,
            transparent 50%,
            rgb(203 213 225) 0,
            rgb(203 213 225) 60%,
            transparent 0,
            transparent
    );
    background-size: 7px 7px;
}

.bg-stripes-dark {
    @apply bg-slate-800;
    background-image: linear-gradient(
            135deg,
            rgb(2 6 23) 10%,
            transparent 0,
            transparent 50%,
            rgb(2 6 23) 0,
            rgb(2 6 23) 60%,
            transparent 0,
            transparent
    );
    background-size: 7px 7px;
}

.font-inspect {
    @apply font-mono tabular-nums tracking-tight-ma-only text-xs text-slate-300;
    word-spacing: -0.45em;
}

ul {
    @apply list-outside list-disc text-base md:text-xl pl-6;
}

ul ul {
    list-style: circle;
}

ul ul ul {
    list-style: square;
}

ul ul ul ul {
    list-style: initial;
}

ol {
    @apply my-6 list-decimal text-base md:text-xl;;
}

ol ol {
    list-style: lower-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    @apply ml-5 list-decimal;
}
